#
# All the relative URL paths are intended to be GitHub ones
# For Espressif's public projects please use '../../espressif/proj', not a '../proj'
#

[submodule "examples/build_system/cmake/import_lib/main/lib/tinyxml2"]
	path = examples/build_system/cmake/import_lib/main/lib/tinyxml2
	url = ../../leethomason/tinyxml2.git

[submodule "examples/peripherals/secure_element/atecc608_ecdsa/components/esp-cryptoauthlib"]
	path = examples/peripherals/secure_element/atecc608_ecdsa/components/esp-cryptoauthlib
	url = ../../espressif/esp-cryptoauthlib.git

